header,
footer  {
    background-color: #1F2937;
    margin: -10px;
    padding: 10px 100px 1px 100px;
}
nav {
    display: flex;
    justify-content: space-between;
}
.navigation {
    display: flex;
    gap: 20px;
}
.awesome-section    {
    display: flex;
    gap: 50px;
    padding-top: 75px;
    padding-bottom: 100px;
    justify-content: space-between;
}
.header-logo    {
    font-size: 24px;
    color: #F9FAF8;
}
h1    {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    text-align: left;
}
a,
.secondary-text   {
    font-size: 18px;
    color: #E5E7EB;
}
.awesome-section img    {
    min-width: 500px;
    max-width: 500px;
    height: 250px;
    position: left;
}

.random-info    {
    text-align: center;
    padding: 20px 100px 60px 100px;
}
.images {
    display: flex;
    justify-content: space-around;
    padding: 5px 100px 10px 100px;
}
h2  {
    font-weight: extra-bold;
    padding-bottom: 10px;
}
.image-subtext img  {
    height: 200px;
    border-radius: 30px;
    width: 200px;
}
.image-subtext p    {
    width: 150px;
    padding: 0px 15px 0px 15px;
    margin: 5px;
}

.quote-section  {
    background-color: #E5E7EB;
    padding: 150px 200px 75px 200px;
}
quote  {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}
.quote p {
    font-weight: bold;
    text-align: left;
}


button,
.call-to-action {
    background-color: #3882f6;
    color: #F9FAF8;
}
button  {
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
}

.call-to-action {
    margin: 100px 150px 100px 150px;
    border-radius: 15px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px 10px 50px;
}
.call-text  p   {
    margin-top: -10px;
}
.call-to-action button  {
    border-radius: 10px;
    margin: 20px;
    border-color: #F9FAF8;
}

footer  {
    padding: 20px;
    color: #f9faf8;
    text-align: center;
}
a:link {
    text-decoration: none;
}